default_attributes.xml

.qtc_clangd/

*.aadl
!snippets/*.aadl
.cache/
*.pro.user
*.pro.user*
*.pro.shared
*.msc

# Ignore whole work directory
work/*

# Except f1 source
!work/f1/
work/f1/*
!work/f1/C
work/f1/C/*
!work/f1/C/src
work/f1/C/src/*
!work/f1/C/src/f1.c

# Except f2 source
!work/f2/
work/f2/*
!work/f2/C
work/f2/C/*
!work/f2/C/src
work/f2/C/src/*
!work/f2/C/src/f2.c

.gdb_history
