default_attributes.xml
interfaceview.ui.xml

.qtc_clangd/

*.aadl
!snippets/*.aadl
.cache/
*.pro.user
*.pro.user*
*.pro.shared
*.msc

# Ignore whole work directory
work/*

# Except assembler source
!work/uart_assembler/
work/uart_assembler/*
!work/uart_assembler/C
!work/uart_assembler/implem
!work/uart_assembler/implem/default
work/uart_assembler/implem/default/*
!work/uart_assembler/implem/default/C
work/uart_assembler/implem/default/C/*
!work/uart_assembler/implem/default/C/src
work/uart_assembler/implem/default/C/src/*
!work/uart_assembler/implem/default/C/src/uart_assembler.c

# Except hwas source
!work/uart_hwas/
work/uart_hwas/*
!work/uart_hwas/C
!work/uart_hwas/implem
!work/uart_hwas/implem/default
work/uart_hwas/implem/default/*
!work/uart_hwas/implem/default/C
work/uart_hwas/implem/default/C/*
!work/uart_hwas/implem/default/C/src
work/uart_hwas/implem/default/C/src/*
!work/uart_hwas/implem/default/C/src/uart_hwas.c

# Except piohwasdriver source
!work/uart_piohwasdriver/
work/uart_piohwasdriver/*
!work/uart_piohwasdriver/SEDS
!work/uart_piohwasdriver/implem
!work/uart_piohwasdriver/implem/default
work/uart_piohwasdriver/implem/default/*
!work/uart_piohwasdriver/implem/default/SEDS
work/uart_piohwasdriver/implem/default/SEDS/*
!work/uart_piohwasdriver/implem/default/SEDS/src
work/uart_piohwasdriver/implem/default/SEDS/src/*
!work/uart_piohwasdriver/implem/default/SEDS/src/uart_piohwasdriver.xml

# Except uarthwasdriver source
!work/uart_uarthwasdriver/
work/uart_uarthwasdriver/*
!work/uart_uarthwasdriver/SEDS
!work/uart_uarthwasdriver/implem
!work/uart_uarthwasdriver/implem/default
work/uart_uarthwasdriver/implem/default/*
!work/uart_uarthwasdriver/implem/default/SEDS
work/uart_uarthwasdriver/implem/default/SEDS/*
!work/uart_uarthwasdriver/implem/default/SEDS/src
work/uart_uarthwasdriver/implem/default/SEDS/src/*
!work/uart_uarthwasdriver/implem/default/SEDS/src/uart_uarthwasdriver.xml

.gdb_history
