default_attributes.xml
interfaceview.ui.xml

.qtc_clangd/

*.aadl
!snippets/*.aadl
.cache/
*.pro.user
*.pro.user*
*.pro.shared
*.msc

# Ignore whole work directory
work/*

# Except assembler source
!work/assembler/
work/assembler/*
!work/assembler/C
!work/assembler/implem
!work/assembler/implem/default
work/assembler/implem/default/*
!work/assembler/implem/default/C
work/assembler/implem/default/C/*
!work/assembler/implem/default/C/src
work/assembler/implem/default/C/src/*
!work/assembler/implem/default/C/src/assembler.c

# Except hwas source
!work/hwas/
work/hwas/*
!work/hwas/C
!work/hwas/implem
!work/hwas/implem/default
work/hwas/implem/default/*
!work/hwas/implem/default/C
work/hwas/implem/default/C/*
!work/hwas/implem/default/C/src
work/hwas/implem/default/C/src/*
!work/hwas/implem/default/C/src/hwas.c

# Except piohwasdriver source
!work/piohwasdriver/
work/piohwasdriver/*
!work/piohwasdriver/SEDS
!work/piohwasdriver/implem
!work/piohwasdriver/implem/default
work/piohwasdriver/implem/default/*
!work/piohwasdriver/implem/default/SEDS
work/piohwasdriver/implem/default/SEDS/*
!work/piohwasdriver/implem/default/SEDS/src
work/piohwasdriver/implem/default/SEDS/src/*
!work/piohwasdriver/implem/default/SEDS/src/piohwasdriver.xml

# Except uarthwasdriver source
!work/uarthwasdriver/
work/uarthwasdriver/*
!work/uarthwasdriver/SEDS
!work/uarthwasdriver/implem
!work/uarthwasdriver/implem/default
work/uarthwasdriver/implem/default/*
!work/uarthwasdriver/implem/default/SEDS
work/uarthwasdriver/implem/default/SEDS/*
!work/uarthwasdriver/implem/default/SEDS/src
work/uarthwasdriver/implem/default/SEDS/src/*
!work/uarthwasdriver/implem/default/SEDS/src/uarthwasdriver.xml

.gdb_history
